<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.opencv">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageBrightness"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Puzzle15Activity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity android:name="CameraCalibrationActivity"
            android:label=".CameraCalibrationActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity android:name="ColorBlobDetectionActivity"
            android:label=".ColorBlobDetectionActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>
    </application>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
</manifest>